section{
    background-color: lightblue;
    margin-bottom:2em;
    border: 5px solid pink;
}

.firstSec{
    display: block;
    width:80%;
    height:200pt;
}

ul{
    display:flex;
    list-style: none;
}

li{
    border: 2px solid hotpink;
    margin: auto;
}

body{
    max-width:80%;
    margin:auto;
    background-color:orange;
}

.annoyingBox{
    width:80px;
    margin: 1em;
    padding:0em;
    font-family:'Comic Sans MS', sans-serif;
}